.img{
    width:100%;

}
.name{
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    text-align: center;
    font-size: 3rem;
    
}
body{
    background-color: rgba(222, 118, 27, 0.61);
}
